@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }

  @media (min-width: 640px) {
    html {
      scroll-snap-type: none;
    }
  }
}

@layer utilities {
  .scroll-snap-start {
    scroll-snap-align: start;
  }
  @media (min-width: 640px) {
    .scroll-snap-start {
      scroll-snap-align: none;
    }
  }
}
